.header-1 {
    font-size: 44px;
}

.header-2 {
    font-size: 36px;
}

.header-3 {
    font-size: 28px;
}

.label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 25px;
    text-align: right;
    width: 150px;
}

.label-area {
    vertical-align: top;
}

.input {
    font-size: 20px;
    margin-bottom: 10px;
    width: 300px;
}

.input-area {
    height: 250px;
    width: 80%;
}

.button {
    font-size: 18px;
    margin: 10px;
    width: 150px;
}

.login-error {
    color: red;
    font-size: 20px;
}

.parent-log-block {
    display: flex;
}

.left-log-block {
    border-right: black 1px solid;
    display: inline-block;
    height: 575px;
    width: 49%;
}

.right-log-block {
    border-left: black 1px solid;
    display: inline-block;
    height: 575px;
    width: 49%;
}

.title-center {
    text-align: center;
}

.log-list-block {
    height: 500px;
    overflow-y: scroll;
}